# Übung 1c)

Laden der Bibliotheken

In [75]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, RobustScaler, LabelEncoder, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.pipeline import FeatureUnion

Laden des Datensatzes

In [76]:
data = pd.read_csv("../../data/bikesharing.csv")

In [77]:
data.head()

,Unnamed: 0,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,0,1,2011-01-01,spring,0,1,0,0,Saturday,No,Clear,NaN,0.2879,0.81,0.0,3.0,13.0,16.0
1,1,2,2011-01-01,spring,0,1,1,0,Saturday,No,Clear,0.22,0.2727,0.80,0.0,8.0,32.0,40.0
2,2,3,2011-01-01,spring,0,1,2,0,Saturday,No,Clear,0.22,0.2727,NaN,NaN,5.0,27.0,32.0
3,3,4,2011-01-01,spring,0,1,3,0,Saturday,No,Clear,0.24,NaN,0.75,0.0,3.0,10.0,13.0
4,4,5,2011-01-01,spring,0,1,4,0,Saturday,No,Clear,0.24,0.2879,NaN,0.0,0.0,1.0,NaN

In [78]:
#Drop unnötige Spalten
data = data.drop(columns=['dteday', "Unnamed: 0"])

In [79]:
data.columns

Index(['instant', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

Prüfen der Daten auf NAN's

In [81]:
data.isna().any()

instant       False
season        False
yr            False
mnth          False
hr            False
holiday       False
weekday       False
workingday    False
weathersit     True
temp           True
atemp          True
hum            True
windspeed      True
casual         True
registered     True
cnt            True
dtype: bool

In [82]:
#Löschen der Zeilen mit NAN ins katgeorischen Spalten
data = data.dropna(subset= ["weathersit"])

Input und Output Variablen festlegen

In [94]:
input_features = [
    'instant',
    'season',
    'yr',
    'mnth',
    'hr',
    'holiday',
    'weekday',
    'workingday',
    'weathersit',
    "temp",
    "atemp",
    "hum",
    "windspeed",
    "casual",
    "registered"
]

output_features = [
    'cnt'
]

X_train, X_test, y_train, y_test = train_test_split(
    data[input_features],
    data[output_features]
)

In [83]:
data.describe()

,instant,yr,mnth,hr,holiday,temp,atemp,hum,windspeed,casual,registered,cnt
count,15844.000000,15844.000000,15844.000000,15844.000000,15844.000000,14460.000000,14359.000000,14432.000000,14380.000000,14427.000000,14464.000000,14404.000000
mean,8685.450139,0.502398,6.533893,11.540141,0.028276,0.497055,0.475303,0.627277,0.190771,35.616206,153.360689,188.965079
std,5024.618789,0.500010,3.436448,6.903705,0.165765,0.192496,0.171555,0.193173,0.122578,49.294489,150.992671,181.347796
min,1.000000,0.000000,1.000000,0.000000,0.000000,0.020000,0.015200,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4327.500000,0.000000,4.000000,6.000000,0.000000,0.340000,0.333300,0.480000,0.104500,4.000000,34.000000,39.000000
50%,8690.500000,1.000000,7.000000,12.000000,0.000000,0.500000,0.484800,0.630000,0.194000,17.000000,115.000000,142.000000
75%,13041.250000,1.000000,10.000000,18.000000,0.000000,0.660000,0.621200,0.780000,0.253700,48.000000,219.000000,281.000000
max,17378.000000,1.000000,12.000000,23.000000,1.000000,1.000000,1.000000,1.000000,0.850700,367.000000,886.000000,977.000000

In [84]:
categorical_columns = data[["season", "weekday", "workingday", "weathersit"]]
numeric_columns = data[["cnt", "registered", "casual", "windspeed", "hum", "atemp", "temp", "instant"]]
date_columns = data[["yr", "mnth", "holiday", "hr"]]

Imputieren der numerische Daten

In [85]:
imputer = SimpleImputer(strategy="median")
imputer.fit(data[["cnt", "registered", "casual", "windspeed", "hum", "atemp", "temp", "instant"]])
imputed_data = imputer.transform(data[["cnt", "registered", "casual", "windspeed", "hum", "atemp", "temp", "instant"]])
imputed_data

array([[1.6000e+01, 1.3000e+01, 3.0000e+00, ..., 2.8790e-01, 5.0000e-01,
        1.0000e+00],
       [4.0000e+01, 3.2000e+01, 8.0000e+00, ..., 2.7270e-01, 2.2000e-01,
        2.0000e+00],
       [3.2000e+01, 2.7000e+01, 5.0000e+00, ..., 2.7270e-01, 2.2000e-01,
        3.0000e+00],
       ...,
       [8.9000e+01, 8.1000e+01, 8.0000e+00, ..., 4.8480e-01, 2.6000e-01,
        1.7376e+04],
       [9.0000e+01, 8.3000e+01, 7.0000e+00, ..., 2.5760e-01, 2.6000e-01,
        1.7377e+04],
       [6.1000e+01, 4.8000e+01, 1.3000e+01, ..., 2.7270e-01, 2.6000e-01,
        1.7378e+04]])

Skalieren der numerischen Daten

In [86]:
scaler = MinMaxScaler()
scaler.fit(imputed_data)
scaled_data = scaler.transform(imputed_data)
scaled_data

array([[1.53688525e-02, 1.46726862e-02, 8.17438692e-03, ...,
        2.76909017e-01, 4.89795918e-01, 0.00000000e+00],
       [3.99590164e-02, 3.61173815e-02, 2.17983651e-02, ...,
        2.61474411e-01, 2.04081633e-01, 5.75473327e-05],
       [3.17622951e-02, 3.04740406e-02, 1.36239782e-02, ...,
        2.61474411e-01, 2.04081633e-01, 1.15094665e-04],
       ...,
       [9.01639344e-02, 9.14221219e-02, 2.17983651e-02, ...,
        4.76848091e-01, 2.44897959e-01, 9.99884905e-01],
       [9.11885246e-02, 9.36794582e-02, 1.90735695e-02, ...,
        2.46141348e-01, 2.44897959e-01, 9.99942453e-01],
       [6.14754098e-02, 5.41760722e-02, 3.54223433e-02, ...,
        2.61474411e-01, 2.44897959e-01, 1.00000000e+00]])

One Hot Encoding der kategorischen Variablen

In [87]:
one_hot_encoder = OneHotEncoder()
data_to_encode = data[["season", "weekday", "workingday", "weathersit"]]

encoded_data = one_hot_encoder.fit_transform(data_to_encode)

Column Selector um numerische und kategorische Daten zu unterscheiden

In [88]:
class ColumnSelector:
    
    def __init__(self, select_numeric=True):
        self.select_numeric = select_numeric
    
    def fit(self, X, y=None):
        return self
    
    def transform(self, X, y=None):
        if self.select_numeric:
            return X.select_dtypes(include=["number"])
        elif not self.select_numeric:
            return X.select_dtypes(exclude=["number"])

In [89]:
num_pipeline = Pipeline(steps=[
    ("select numbers", ColumnSelector(select_numeric=True)),
    ("impute data", SimpleImputer(strategy="median")),
    ("scale data", MinMaxScaler())
])

In [90]:
non_num_pipeline = Pipeline(steps=[
    ("select non numeric", ColumnSelector(select_numeric=False)),
    ("encode data", OneHotEncoder())
])

In [91]:
num_pipeline.fit(data)
non_num_pipeline.fit(data)

num_pipeline.transform(data)
non_num_pipeline.transform(data)

<15844x17 sparse matrix of type '<class 'numpy.float64'>'
	with 63376 stored elements in Compressed Sparse Row format>

Feature Union der numerischen und nicht numerischen Daten aus der Pipeline

In [18]:
from sklearn.pipeline import FeatureUnion

In [92]:
X_pipeline = FeatureUnion(transformer_list=[
    ("numeric pipeline", Pipeline(steps=[
        ("select numbers", ColumnSelector(select_numeric=True)),
        ("impute data", SimpleImputer(strategy="median")),
        ("scale data", MinMaxScaler())
    ])),
    ("non_numeric pipeline", Pipeline(steps=[
        ("select non numeric", ColumnSelector(select_numeric=False)),
        ("encode data", OneHotEncoder())
    ]))
])

In [95]:
X_pipeline.fit(X_train)
X_train_p = X_pipeline.transform(X_train)
X_test_p = X_pipeline.transform(X_test)

In [97]:
y_pipeline = Pipeline(steps=[
    ("scale data", MinMaxScaler())
])

In [98]:
y_pipeline.fit(y_train)
y_train_p = y_pipeline.transform(y_train)
y_test_p = y_pipeline.transform(y_test)