# Übung 1c)

## Laden der Bibliotheken

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, RobustScaler, LabelEncoder, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.pipeline import FeatureUnion

## Laden des Datensatzes

In [2]:
data = pd.read_csv("../../data/socr.csv")

In [3]:
data.head()

,Team = BAL,Team = CWS,Team = ANA,Team = BOS,Team = CLE,Team = OAK,Team = NYY,Team = DET,Team = SEA,Team = TB,...,Position = Second_Baseman,Position = Shortstop,Position = Third_Baseman,Position = Outfielder,Position = Designated_Hitter,Position = Starting_Pitcher,Position = Relief_Pitcher,Height(inches),Weight(pounds),Age
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,74,180.0,22.99
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,74,215.0,34.69
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,72,210.0,30.78
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,72,210.0,35.43
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,73,188.0,35.71

In [4]:
data.describe()

,Team = BAL,Team = CWS,Team = ANA,Team = BOS,Team = CLE,Team = OAK,Team = NYY,Team = DET,Team = SEA,Team = TB,...,Position = Second_Baseman,Position = Shortstop,Position = Third_Baseman,Position = Outfielder,Position = Designated_Hitter,Position = Starting_Pitcher,Position = Relief_Pitcher,Height(inches),Weight(pounds),Age
count,1034.000000,1034.000000,1034.000000,1034.000000,1034.000000,1034.000000,1034.000000,1034.000000,1034.000000,1034.000000,...,1034.000000,1034.000000,1034.000000,1034.000000,1034.000000,1034.000000,1034.000000,1034.000000,1033.000000,1034.000000
mean,0.033849,0.031915,0.033849,0.034816,0.033849,0.035783,0.030948,0.035783,0.032882,0.031915,...,0.056093,0.050290,0.043520,0.187621,0.017408,0.213733,0.304642,73.697292,201.689255,28.736712
std,0.180928,0.175859,0.180928,0.183403,0.180928,0.185839,0.173260,0.185839,0.178414,0.175859,...,0.230212,0.218649,0.204124,0.390598,0.130850,0.410139,0.460478,2.305818,20.991491,4.320310
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,67.000000,150.000000,20.900000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,72.000000,187.000000,25.440000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,74.000000,200.000000,27.925000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,75.000000,215.000000,31.232500
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,83.000000,290.000000,48.520000

In [5]:
data.columns

Index(['Team = BAL', 'Team = CWS', 'Team = ANA', 'Team = BOS', 'Team = CLE',
       'Team = OAK', 'Team = NYY', 'Team = DET', 'Team = SEA', 'Team = TB',
       'Team = KC', 'Team = TEX', 'Team = TOR', 'Team = MIN', 'Team = ATL',
       'Team = CHC', 'Team = ARZ', 'Team = FLA', 'Team = CIN', 'Team = COL',
       'Team = NYM', 'Team = HOU', 'Team = LA', 'Team = PHI', 'Team = MLW',
       'Team = SD', 'Team = WAS', 'Team = PIT', 'Team = SF', 'Team = STL',
       'Position = Catcher', 'Position = First_Baseman',
       'Position = Second_Baseman', 'Position = Shortstop',
       'Position = Third_Baseman', 'Position = Outfielder',
       'Position = Designated_Hitter', 'Position = Starting_Pitcher',
       'Position = Relief_Pitcher', 'Height(inches)', 'Weight(pounds)',
       'Age '],
      dtype='object')

## Prüfen auf fehlende Werte

In [6]:
#data.isna().any()

Team = BAL                      False
Team = CWS                      False
Team = ANA                      False
Team = BOS                      False
Team = CLE                      False
Team = OAK                      False
Team = NYY                      False
Team = DET                      False
Team = SEA                      False
Team = TB                       False
Team = KC                       False
Team = TEX                      False
Team = TOR                      False
Team = MIN                      False
Team = ATL                      False
Team = CHC                      False
Team = ARZ                      False
Team = FLA                      False
Team = CIN                      False
Team = COL                      False
Team = NYM                      False
Team = HOU                      False
Team = LA                       False
Team = PHI                      False
Team = MLW                      False
Team = SD                       False
Team = WAS                      False
Team = PIT                      False
Team = SF                       False
Team = STL                      False
Position = Catcher              False
Position = First_Baseman        False
Position = Second_Baseman       False
Position = Shortstop            False
Position = Third_Baseman        False
Position = Outfielder           False
Position = Designated_Hitter    False
Position = Starting_Pitcher     False
Position = Relief_Pitcher       False
Height(inches)                  False
Weight(pounds)                   True
Age                             False
dtype: bool

In [7]:
data = data.dropna()

In [8]:
#data.isna().any()

Team = BAL                      False
Team = CWS                      False
Team = ANA                      False
Team = BOS                      False
Team = CLE                      False
Team = OAK                      False
Team = NYY                      False
Team = DET                      False
Team = SEA                      False
Team = TB                       False
Team = KC                       False
Team = TEX                      False
Team = TOR                      False
Team = MIN                      False
Team = ATL                      False
Team = CHC                      False
Team = ARZ                      False
Team = FLA                      False
Team = CIN                      False
Team = COL                      False
Team = NYM                      False
Team = HOU                      False
Team = LA                       False
Team = PHI                      False
Team = MLW                      False
Team = SD                       False
Team = WAS                      False
Team = PIT                      False
Team = SF                       False
Team = STL                      False
Position = Catcher              False
Position = First_Baseman        False
Position = Second_Baseman       False
Position = Shortstop            False
Position = Third_Baseman        False
Position = Outfielder           False
Position = Designated_Hitter    False
Position = Starting_Pitcher     False
Position = Relief_Pitcher       False
Height(inches)                  False
Weight(pounds)                  False
Age                             False
dtype: bool

## Train Test Split

In [23]:
input_features = [
       'Height(inches)', 'Weight(pounds)' 
]

output_features = [
    'Age '
]

X_train, X_test, y_train, y_test = train_test_split(
    data[input_features],
    data[output_features]
)

## Linear Regression

In [24]:
from sklearn.linear_model import LinearRegression

In [25]:
linear_model = LinearRegression()
linear_model.fit(X_train, y_train)
linear_prediction = linear_model.predict(X_test)

In [27]:
linear_model.score(X_test, y_test)

0.026584003483561717

In [28]:
linear_model.intercept_

array([48.83350025])

In [29]:
linear_model.coef_

array([[-0.43385577,  0.05851932]])

## Decision Tree

In [59]:
from sklearn.tree import DecisionTreeRegressor

In [60]:
input_features_tree = [
       'Position = Catcher', 'Position = First_Baseman',
       'Position = Second_Baseman', 'Position = Shortstop',
       'Position = Third_Baseman', 'Position = Outfielder',
       'Position = Designated_Hitter', 'Position = Starting_Pitcher',
       'Position = Relief_Pitcher', 'Height(inches)', 'Weight(pounds)'
]

output_features_tree = [
    'Age '
]

X_train_tree, X_test_tree, y_train_tree, y_test_tree = train_test_split(
    data[input_features_tree],
    data[output_features_tree]
)

In [61]:
regressor = DecisionTreeRegressor(random_state=191, max_depth=2)
regressor.fit(X_train_tree, y_train_tree)
regressor_prediction = regressor.predict(X_test_tree)

In [62]:
regressor.score(X_test_tree, y_test_tree)

0.046977005186331744

## Random Forest Regressor

In [63]:
from sklearn.ensemble import RandomForestRegressor

In [70]:
rf_model = RandomForestRegressor(max_depth = 2, random_state=191, n_estimators=10)
rf_model.fit(X_train_tree, y_train_tree.values.ravel())
rf_prediction = rf_model.predict(X_test_tree)

In [71]:
rf_model.score(X_test_tree, y_test_tree)

0.07484170764944731

## Multiclass Classification

In [109]:
one_hot_decoder = OneHotEncoder(categories="auto")
decode_data = data[['Position = Catcher', 'Position = First_Baseman',
       'Position = Second_Baseman', 'Position = Shortstop',
       'Position = Third_Baseman', 'Position = Outfielder',
       'Position = Designated_Hitter', 'Position = Starting_Pitcher',
       'Position = Relief_Pitcher']]
one_hot_decoder.fit(decode_data)
decode_data = one_hot_decoder.transform(decode_data)
#decode_data.shape
one_hot_decoder.inverse_transform(decode_data).

(1033, 9)

In [75]:
input_features_multi = [
       'Team = BAL', 'Team = CWS', 'Team = ANA', 'Team = BOS', 'Team = CLE',
       'Team = OAK', 'Team = NYY', 'Team = DET', 'Team = SEA', 'Team = TB',
       'Team = KC', 'Team = TEX', 'Team = TOR', 'Team = MIN', 'Team = ATL',
       'Team = CHC', 'Team = ARZ', 'Team = FLA', 'Team = CIN', 'Team = COL',
       'Team = NYM', 'Team = HOU', 'Team = LA', 'Team = PHI', 'Team = MLW',
       'Team = SD', 'Team = WAS', 'Team = PIT', 'Team = SF', 'Team = STL',
       'Age ', 'Height(inches)', 'Weight(pounds)'
]

output_features_multi = [
    'Position = Catcher', 'Position = First_Baseman',
       'Position = Second_Baseman', 'Position = Shortstop',
       'Position = Third_Baseman', 'Position = Outfielder',
       'Position = Designated_Hitter', 'Position = Starting_Pitcher',
       'Position = Relief_Pitcher'
]

X_train_multi, X_test_multi, y_train_multi, y_test_multi = train_test_split(
    data[input_features_multi],
    data[output_features_multi]
)

In [77]:
multi_log = LogisticRegression(multi_class="multinomial", solver = "newton-cg")
multi_log.fit(X_test_multi, y_train_multi)

ValueError: bad input shape (774, 9)